@import '_vars';
@import '_mixins';

.our-team {
	&__decor {
	}

	&__body {
		* {
			position relative;
			z-index 1;
		}
	}

	&__students-say {
	}

	&__students-say-slider-wrapper {
	}

	&__where-our-students-work {
		padding-top 180px;

		@media (max-width 768px) {
			padding-top 80px;
		}

		.title-wrapper {
			padding-bottom 50px;
		}
	}
}

.friend-companies {
	flex-set row wrap;
	justify-content center;
	firstLevelElementsMargin 'right' 50;
	firstLevelElementsMargin 'bottom' 30;

	@media (max-width 600px) {
		display grid;
		grid-template-columns repeat(2, 1fr);
		justify-items center;
		gap 10px;
		firstLevelElementsMargin 'right' 0;
		firstLevelElementsMargin 'bottom' 0;
	}

	&__company {
		@media (min-width 768px) {
			filter grayscale(1);

			&:hover, &:focus {
				filter grayscale(0);
			}
		}

		transition all .2s ease;
	}
}

.meet-our-team {
	position relative;

	&__decor {
		.arrows {
			top 20px;
			left 90px;
		}
	}

	&__body {
		firstLevelElementsMargin 'bottom' 80;
	}

	&__subtitle {
	}

	&__title {
	}

	&__grid-team {
		display grid;
		grid-template 'member member member member' 1fr / 1fr 1fr 1fr 1fr;
		gap 30px;

		@media (max-width 900px) {
			grid-template 'member member member' 1fr / 1fr 1fr 1fr;
		}

		@media (max-width 500px) {
			grid-template 'member member' 1fr / 1fr 1fr;
			gap 15px;
		}
	}
}

.how-we-do-by-step {
	position relative;

	&__decor {
		.circles {
			top 0;
			right 0;
		}
	}

	&__body {
		display grid;
		grid-template 'title decor' auto 'steps decor' 1fr / 1fr 1fr;
		gap 60px 100px;

		@media (max-width 1300px) {
			grid-template 'title decor' auto 'steps decor' 1fr / 60% 40%;
			gap 60px 50px;
		}

		@media (max-width 768px) {
			grid-template 'title' auto 'steps' auto 'decor' 200px / 1fr;
			gap 30px;
		}
	}

	.title-wrapper {
		grid-area title;
	}

	&__subtitle {
	}

	&__title {
	}

	&__decor {
		grid-area decor;
	}

	&__steps {
		grid-area steps;

		>* {
			&:not(:last-child) {
				padding-bottom 30px;
			}
		}
	}
}

.step {
	position relative;

	&:first-child {
		&:before {
			margin-top 10px;
		}
	}

	&:before {
		position absolute;
		top 0;
		left 0;
		display inline-block;
		height 100%;
		width 1.5px;
		background #d8d8db;
		content '';
	}

	&__body {
		padding-left 40px;
		flex-set column nowrap;
		firstLevelElementsMargin 'bottom' 5;
		color #787A80;
	}

	&__number {
		position relative;
		font-size 12px;
		text-transform uppercase;
		font-weight 900;

		&:before {
			display inline-block;
			content 'Step';
		}

		&:after {
			position absolute;
			display inline-block;
			top 50%;
			left -47px;
			transform translate(0, -50%);
			background #FF3F3A;
			border 4px solid #fff;
			border-radius 50%;
			block-size 15px;
			content '';
		}
	}

	&__title {
		font-weight 700;
		font-size 20px;
		color #1E212C;
		line-height 1.6;
		padding-bottom 10px;
	}

	&__text {
	}
}

.what-we-teach {
	&__body {
		firstLevelElementsMargin 'bottom' 40;
	}

	&__subtitle {
	}

	&__title {
	}

	&__grid {
		display grid;
		grid-template 'course course course' 1fr / 1fr 1fr 1fr;
		gap 30px;

		@media (max-width 768px) {
			gap 15px;
		}

		@media (max-width 600px) {
			grid-template 'course course' 1fr / 1fr 1fr;
		}

		@media (max-width 380px) {
			gap 8px;
		}
	}
}

.advantages {
	position relative;

	&__decor {
		.arrows {
			top -10%;
			right 8%;
		}
	}

	&__body {
		firstLevelElementsMargin 'bottom' 50;
	}

	&__title {
	}

	&__items {
		flex-set row wrap;
		justify-content space-around;
		firstLevelElementsMargin 'bottom' 20;

		>* {
			flex 1 1 20%;
		}

		@media (min-width 950px) {
			>* {
				&:not(:first-child) {
					padding-left 25px;
				}
			}

			>* {
				&:not(:last-child) {
					position relative;
					padding-right 25px;

					&:after {
						position absolute;
						top 0;
						right 0;
						width 1px;
						height 100%;
						background linear-gradient(0, rgba(218, 219, 221, 25%), rgba(218, 219, 221, 1), rgba(218, 219, 221, 25%));
						content '';
					}
				}
			}
		}

		@media (max-width 949px) {
			firstLevelElementsMargin 'right' 20;

			>* {
				min-width 150px;
			}
		}
	}
}

.advantages-item {
	flex-set column nowrap;
	justify-content center;
	text-align center;
	firstLevelElementsMargin 'bottom' 20;

	&__preview {
	}

	&__title {
		font-weight 700;
		font-size 20px;
		color #1E212C;
	}

	&__text {
	}
}

.advantages-video {
	position relative;

	&__decor {
		.dots {
			bottom 0;
			left 5%;

			@media (max-width 850px) {
				bottom 80%;
			}

			@media (max-width 426px) {
				display none;
			}
		}
	}

	&__body {
		display grid;
		grid-template 'play-btn play-btn play-btn' auto 'play-img play-img advs' / 1fr 1fr 1fr;
		gap 30px 80px;

		* {
			position relative;
			z-index 1;
		}

		@media (max-width 850px) {
			grid-template '. play-btn .' auto 'advs advs advs' / 1fr 1fr 1fr;
		}
	}

	&__play-video {
		justify-self start;
		grid-area play-btn;
		min-width 150px;
	}

	&__play-preview {
		grid-area play-img;

		@media (max-width 850px) {
			display none;
		}
	}

	&__advantages {
		grid-area advs;
		align-self center;
		firstLevelElementsMargin 'bottom' 20;

		@media (max-width 850px) {
			flex-set row wrap;
			justify-content center;
			firstLevelElementsMargin 'right' 20;
		}
	}
}

.advantage {
	&__body {
	}

	&__number {
		color #FF3F3A;
	}

	&__title {
	}
}

.second-hero {
	&__body {
		display grid;
		grid-template 'title decor' auto 'sec-title decor' auto 'text decor' auto 'buttons decor' auto / 1.2fr .8fr;
		gap 30px 80px;

		@media (max-width 768px) {
			padding-top 100px;
			gap 20px 40px;
		}

		@media (max-width 700px) {
			grid-template 'title' auto 'sec-title' auto 'text' auto 'buttons' auto 'decor' 200px / 1fr;
		}
	}

	.title-wrapper {
		grid-area title;
	}

	&__title {
		padding-bottom 20px;
	}

	&__text-title {
		grid-area sec-title;
		font-weight 700;
		color #1E212C;
		font-size 20px;
	}

	&__text {
		grid-area text;
		font-size 16px;
	}

	&__refs {
		grid-area buttons;
		firstLevelElementsMargin 'right' 25;

		>* {
			margin-bottom 10px;
		}

		@media (max-width 426px) {
			display grid;
			grid-template-columns 1fr 1fr;
			firstLevelElementsMargin 'right' 0;
			gap 10px;
			align-items center;
		}
	}

	&__decor {
		grid-area decor;
	}
}
